/* You can add global styles to this file, and also import other style files */
html, body{
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
}

.link_button {
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-right: 10px;
}
.link_button:hover {
    background-color: #4881ea;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th, td {
    text-align: center;
    padding: 8px;
}
.back_link {
    color: red;
    font-size: large;
}
.back_link:hover {
    color: #ff8080;
}